@import url('https://fonts.googleapis.com/css?family=Montserrat:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&display=swap&subset=cyrillic');

body {
   margin: 0;
   padding: 0;
   background-image: url(gradients_app.png);
   display: flex;
   justify-content: center;
   font-family: 'Montserrat';
}

.error{
   background: rgb(230, 63, 63);
   z-index: 2;
}

* {
   box-sizing: border-box;
}

body {
   background: #f69a73;
}

.decor {
   position: relative;
   width: 450px;
   margin: 50px auto 0;
   background: white;
   border-radius: 30px;
   min-height: 765px;
}

.form-left-decoration,
.form-right-decoration {
   content: "";
   position: absolute;
   width: 50px;
   height: 20px;
   background: #f69a73;
   border-radius: 20px;
}

.form-left-decoration {
   bottom: 60px;
   left: -30px;
}

.form-right-decoration {
   top: 60px;
   right: -30px;
}

.form-left-decoration:before,
.form-left-decoration:after,
.form-right-decoration:before,
.form-right-decoration:after {
   content: "";
   position: absolute;
   width: 50px;
   height: 20px;
   border-radius: 30px;
   background: white;
}

.form-left-decoration:before {
   top: -20px;
}

.form-left-decoration:after {
   top: 20px;
   left: 10px;
}

.form-right-decoration:before {
   top: -20px;
   right: 0;
}

.form-right-decoration:after {
   top: 20px;
   right: 10px;
}

.circle {
   position: absolute;
   bottom: 80px;
   left: -55px;
   width: 20px;
   height: 20px;
   border-radius: 50%;
   background: white;
}

.form-inner {
   padding: 50px;
   padding-bottom: 35px;
}

.form-inner input[type="email"],
.form-inner input[type="text"],
.form-inner textarea,
.form-inner select {
   display: block;
   width: 100%;
   padding: 0 20px;
   margin-bottom: 30px;
   background: #E9EFF6;
   line-height: 40px;
   border-width: 0;
   border-radius: 20px;
   font-family: 'Roboto', sans-serif;
}

.form-inner select {
   padding: 5px;
   width: 70px;
   margin-left: 5px;
}

.radio {
   margin-left: 5px;
   margin-bottom: 30px;
}

.form-inner input[type="submit"] {
   width: 150px;
   height: 40px;
   border-radius: 20px;
   margin-top: 30px;
   background: #f69a73;
   border: 1px solid #d87d56;
   border-bottom: 4px solid #d87d56;
   color: white;
   font-size: 16px;
}

.form-inner textarea {
   resize: none;
}

.form-inner h3 {
   margin-top: 0;
   font-family: 'Roboto', sans-serif;
   font-weight: 500;
   font-size: 24px;
   color: #707981;
}
